<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
	<div class="row">
		<label for="name">User Name:</label><br />
		<input id="username" class="input" name="name" type="text" value="" size="30" /><br />
	</div>
    <div class="row">
		<label for="name">Showing Name:</label><br />
		<input id="showing_name" class="input" name="name" type="text" value="" size="30" /><br />
	</div>
    <div class="row">
		<label for="pass">Password:</label><br />
		<input id="password" class="input" name="password" type="password" value="" size="30" /><br />
	</div>
    <div class="row">
		<label for="pass">Confirm Password:</label><br />
		<input id="confirm_password" class="input" name="password" type="password" value="" size="30" /><br />
	</div>
    <div class="row">
		<label for="email">Your email:</label><br />
		<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
	</div>
	<div class="row">
		<label for="birthdate">Birth Date:</label><br />
		<input id="birth_date" type="date"></time>
	</div>
	<input id="submit_button" type="submit" value="Send email" />
</form>