<article>
    {% load staticfiles %}
    <img src=" {% static "images/tomhanks.jpg" %}">

    <h3>Tom Hanks</h3>

    <p>
        Thomas Jeffrey "Tom" Hanks[3] (born July 9, 1956)[4] is an American actor and filmmaker.
        He is known for his roles in Big (1988), Philadelphia (1993), Forrest Gump (1994), Apollo 13 (1995), Saving
        Private Ryan,
        You've Got Mail (both 1998), Cast Away (2000), The Da Vinci Code (2006), Captain Phillips, and Saving Mr.
        Banks (both 2013), as well as for his voice work in the animated films The Polar Express (2004) and the Toy
        Story series.
    </p>

</article>