{% extends "tlayout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="row clearfix">
        <div class="row clearfix">
            <div class="col-md-2 column">
                <h4><a href="/profile/{{ writer.username }}">{{ writer.username }}</a></h4>
                <img class="img-thumbnail" alt="140x140" src="/media/users/{{ writer.image_path }}"/>
            </div>
            <div class="col-md-9 column">
                <h3>{{ post.title }}</h3>

                <p>
                    <a href="/posts/{{ post.id }}">{{ post.created_time }}</a>
                </p>
                <h4>Movie Title: <a href="/movies/{{ movie.title }}">{{ movie.title }}</a></h4>

                <P>
                    {{ post.body }}
                </P>

            </div>
        </div>

        <br \>

        <div class="row clearfix">
            <div class="col-md-11 column">
                <button id="likebtn" type="button" onclick="like();" class="btn btn-default">Like</button>

                <div id="like">
                    {% include secondLoad %}
                </div>
                <hr class="featurette-divider">
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-md-11 column">
                <div id="comment">
                    {% include thirdLoad %}
                </div>

                <form id="commentForm" method="post" onsubmit="comment();return false;" class="form-horizontal"
                      role="form">{% csrf_token %}
                    <div class="form-group">
                        <label for="input" class="col-sm-2 control-label">Comment</label>
                        <br/>

                        <div class="col-sm-10">
                            Title:<input type="text" name="title" class="form-control"
                                         placeholder="enter comment title here..."/>
                            <br/>
                            Body:<textarea name="body" class="form-control" id="commentBody"
                                           placeholder="Enter comment body here..."/></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" onclick="" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/ajax_like.js" %}" type="text/javascript"></script>
{% endblock %}