{% extends "tlayout.html" %}
{% block pageBody %}
    <div class="row clearfix" xmlns="http://www.w3.org/1999/html">
        <div class="row clearfix">
            <div class="col-md-2 column">
                <img class="img-thumbnail" alt="140x140" src="{{ user.image_path }}"/>
            </div>
            <div class="col-md-10 column">
                <h3>{{ post.title }}</h3>
                <h4>{{ movie.title }}</h4>
                <h4>
                    {{ post.body }}
                </h4>
                <p>
                    <a href="/posts/{{ post.id }}">{{ post.created_time }}</a>
                </p>
            </div>
        </div>
        <br \>

        <div class="row clearfix">
            <div class="col-md-12 column">
                <button type="button" class="btn btn-default">Like</button>
                <p>
                    Folani and Folani likes this post.
                </p>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h3>
                    Comment 1
                </h3>

                <p>
                    This post is very chert. -- Masoud
                </p>

                <p>
                    <a class="btn" href="#">Like</a>
                </p>

                <h3>
                    Comment 2
                </h3>

                <p>
                    This post is not very chert. --Sadjad
                </p>

                <p>
                    <a class="btn" href="#">Like</a>
                </p>

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="input" class="col-sm-2 control-label">Comment</label>

                        <div class="col-sm-10">
                            <textarea class="form-control" id="commentBody"
                                      placeholder="Enter text here..."/></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}