{% extends "tlayout.html" %}
{% block pageBody %}
    <div class="row clearfix">
        <div class="row clearfix">
            <div class="col-md-2 column">
                <h4><a href="/profile/{{ writer.username }}">{{ writer.username }}</a></h4>
                <img class="img-thumbnail" alt="140x140" src="/media/users/{{ writer.image_path }}"/>
            </div>
            <div class="col-md-9 column">
                <h3>{{ post.title }}</h3>

                <p>
                    <a href="/posts/{{ post.id }}">{{ post.created_time }}</a>
                </p>
                <h4>Movie Title: <a href="/movies/{{ movie.title }}">{{ movie.title }}</a></h4>

                <P>
                    {{ post.body }}
                </P>

            </div>
        </div>

        <br \>

        <div class="row clearfix">
            <div class="col-md-11 column">
                <form action="." method="post" role="form">{% csrf_token %}
                    <input type="hidden" value="like" name="type">
                    <button id="like" type="button" class="btn btn-default">Like</button>

                </form>

                <p>
                    {% for liker in likers %}
                        <a href="/profile/{{ liker.username }}">{{ liker.username }}</a> and
                    {% endfor %}
                    like this post.
                </p>
                <hr class="featurette-divider">
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-md-11 column">
                {% for comment,writer in comments.items %}
                    <h3>
                        {{ comment.title }}
                    </h3>

                    <p>
                        {{ comment.body }} -- <a href="/profile/{{ writer.username }}">{{ writer.username }}</a>
                    </p>
                    <p>{{ comment.time }}</p>
                    <hr class="featurette-divider">
                {% endfor %}

                <form action="/posts/{{ post.id }}/" method="post" class="form-horizontal" role="form">{% csrf_token %}
                    <div class="form-group">
                        <label for="input" class="col-sm-2 control-label">Comment</label>
                        <br/>

                        <div class="col-sm-10">
                            Title:<input type="text" name="title" class="form-control"
                                         placeholder="enter comment title here..."/>
                            <br/>
                            Body:<textarea name="body" class="form-control" id="commentBody"
                                           placeholder="Enter comment body here..."/></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}