<article>

    <button>Edit Profile</button>
    <br/>
    <br/>
    {% load staticfiles %}
    <img height="120px" width="100px" src="{% static "images/example.jpg" %}"/>

    <p>
        Showing Name: S. M. Masoud Sadrnezhaad<br/>
        User Name:Masoud
    </p>

    <h3>followers: 2</h3>
    <img src=""/>

    <p></p>

    <h3>following: 1</h3>
    <img src=""/>

    <p></p>


    <section id="posts">
        <h2>Posts</h2>

        <p style="border: double; width: 500px">
            this is my post. it has fantastic text.<br/>
            it is very good.
        </p>
        <br/>

        <p style="border: double; width: 500px">
            This is another post. It is very good.<br/>
            it is so good.

        </p>

        <p></p>
    </section>

</article>
<article>

    <button>Edit Profile</button>
    <br/>
    <br/>
    {% load staticfiles %}
    <img height="120px" width="100px" src="{% static "images/example.jpg" %}"/>

    <p>
        Showing Name: S. M. Masoud Sadrnezhaad<br/>
        User Name:Masoud
    </p>

    <h3>followers: 2</h3>
    <img src=""/>

    <p></p>

    <h3>following: 1</h3>
    <img src=""/>

    <p></p>


    <section id="posts">
        <h2>Posts</h2>

        <p style="border: double; width: 500px">
            this is my post. it has fantastic text.<br/>
            it is very good.
        </p>
        <br/>

        <p style="border: double; width: 500px">
            This is another post. It is very good.<br/>
            it is so good.

        </p>

        <p></p>
    </section>

</article>