{% extends "tlayout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="row clearfix">
        <div class="col-md-2 column">
            <img class="img-thumbnail" src="/media/users/{{ profile_user.image_path }}"/>
        </div>
        <div class="col-md-8 column">
            <h2>{{ profile_user.first_name }} {{ profile_user.last_name }}</h2>

            <strong>@{{ profile_user.username }}</strong>
        </div>
        <div class="col-md-2 column">
            {{ follow_key }}
        </div>
    </div>

    <br \>
    <div class="tab-pane fade in active" id="people">
        <h3>followers ({{ followers_count }})</h3>
        <ul class="nav">

            {% for follower in followers %}

                <li class="active"><a href="/profile/{{ follower.username }}">

                    <div class="col-md-1 column">
                        <img width="20px" height="20px" class="img-circle" src="/media/users/{{ follower.image_path }}">
                    </div>
                    {{ follower.first_name }} {{ follower.last_name }} ({{ follower.username }})
                </a>
                </li>
            {% endfor %}
        </ul>
        <br \>

        <h3>following ({{ following_count }})</h3>
        <ul class="nav">

            {% for following in following %}

                <li class="active"><a href="/profile/{{ following.username }}">

                    <div class="col-md-1 column">
                        <img width="20px" height="20px" class="img-circle"
                             src="/media/users/{{ following.image_path }}">
                    </div>
                    {{ following.first_name }} {{ following.last_name }} ({{ following.username }})
                </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <p></p>
    <hr class="featurette-divider">
    <h3>User Posts</h3>

    {% for post,movie,writer in posts %}
        <div class="row clearfix" xmlns="http://www.w3.org/1999/html">
            <div class="row clearfix">
                <div class="col-md-2 column">
                    <h4><a href="/profile/{{ writer.username }}">{{ writer.username }}</a></h4>
                    <img class="img-thumbnail" alt="{{ writer.username }}" src="/media/users/{{ writer.image_path }}"/>
                </div>
                <div class="col-md-10 column">
                    <h3>{{ post.title }}</h3>

                    <p>
                        <a href="/posts/{{ post.id }}">{{ post.created_time }}</a>
                    </p>
                    <h4>Movie Title: <a href="/movies/{{ movie.title }}">{{ movie.title }}</a></h4>

                    <P>
                        {{ post.body }}
                    </P>

                </div>
            </div>
        </div>
        <br \>
    {% endfor %}

    <section id="posts">
        {{ userPosts }}
    </section>
{% endblock %}