{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="container">
        <div class="row">
            <form action="/register/" method="post" role="form">{% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_p }}
                <br /><br />
                <input type="submit" name="submit" value="Register" class="btn-block btn-lg btn-primary learn-btn btn-margin">
            </form>
        </div>
    </div>

{% endblock %}

{% block jquery-ui %}
            <script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
  </script>
{% endblock %}