<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav active"><a href="#people" data-toggle="tab">People</a></li>
        <li class="nav"><a href="#movies" data-toggle="tab">Movies</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="people">People</div>
        <div class="tab-pane fade" id="movies">Movies</div>
    </div>
</div>
<script type="text/javascript">
    $('a[href="#people"]').tab('show')
    $('a[href="#movies"]').tab('show')
</script>