{% extends "tlayout.html" %}
{% block pageBody %}
    <article>
        {% for movie in movies %}
            <div class="row clearfix">
                <div class="col-md-3 column">
                    <img src="/media/movies/{{ movie.image_path }}" alt="{{ movie.title }}"/>
                </div>
                <div class="col-md-9 column">
                    <a href="/movies/{{ movie.title }}"><h1>{{ movie.title }} ({{ movie.year }})</h1></a>
                    <p class="star"> {{ movie.rate }}</p><p>{{ movie.description }}</p>

                </div>
            </div>
        <br \>
        {% endfor %}
    </article>
{% endblock %}

