{% extends "tlayout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <article>
        <div class="row clearfix">
            <div class="col-md-2 column">
                <div class="star"> {{ rate }}</div>
            </div>
            <div class="col-md-10 column">
                <h1>{{ movie.title }}({{ movie.year }})</h1>
            </div>
        </div>
        <p>
            <input id="input-6a" class="rating" data-min="0" data-max="5" data-step="1" data-size="xs">
        </p>

        <p>
            <img src="{% static movie.image_path %}" alt="{{ movie.title }}"/>
        </p>
        <img id="rating"/>

        <p id="description">{{ movie.description }}</p>

        <a href="{{ movie.imdb_url }}"><img src="{% static "img/imdb.png" %}"></a>

        <h4 class="inline">Director:</h4> <a href="#">Luc Besson</a>
        <h4 class="inline">Writer:</h4> <a href="#">Luc Besson</a>
        <h4 class="inline">Stars:</h4> <a href="#">Jean Reno</a>, <a href="#">Gary Oldman</a>, <a href="#">Natalie
        Portman</a>

        <h2>Full Cast</h2>

      <!--  <div class="tab-pane fade in active" id="people">
            <ul class="nav">

                <li class="active"><a href="#">

                    <div class="col-md-1 column">
                        <img class="img-circle" src="http://lorempixel.com/20/20/">
                    </div>
                    Arman Naeimian
                </a>
                </li>
                <li><a href="#">
                    <div class="col-md-1 column"><img class="img-circle" src="http://lorempixel.com/20/20/"></div>
                    Sadjad Fouladi
                </a>
                </li>
            </ul>
        </div>
-->
        <form class="form-horizontal" role="form">
            <div class="form-group">

                <label for="input" class="col-sm-2 control-label">Write a new comment</label>

                <div class="col-sm-10">
                    <textarea class="form-control" id="commentBody" placeholder="Enter text here..."/></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>

    </article>
{% endblock %}