{% load staticfiles %}
{% extends "tlayout.html" %}
{% block pageBody %}
<article>
    <div class="row clearfix">
        <div class="col-md-2 column">
            <div class="star"> 8.6</div>
        </div>
        <div class="col-md-10 column">
            <h1>Léon: The Professional (1994)</h1>
        </div>
    </div>
    <p>
        <input id="input-6a" class="rating" data-min="0" data-max="5" data-step="1" data-size="xs">
    </p>

    <p>
        <img src="{% static "img/covers/thumb/leon-the-professional.jpg" %}" alt="Léon: The Professional (1994)"/>
    </p>
    <img id="rating"/>

    <p id="description">Mathilda, a 12-year-old girl, is reluctantly taken in by Léon, a professional assassin,
        after
        her family is murdered. Léon and Mathilda form an unusual relationship, as she becomes his protégée and
        learns
        the assassin's trade.</p>

    <a href="http://www.imdb.com/title/tt0110413/"><img src="{% static "movies/images/imdb.png" %}"></a>

    <h4 class="inline">Director:</h4> <a href="#">Luc Besson</a>
    <h4 class="inline">Writer:</h4> <a href="#">Luc Besson</a>
    <h4 class="inline">Stars:</h4> <a href="#">Jean Reno</a>, <a href="#">Gary Oldman</a>, <a href="#">Natalie
    Portman</a>

    <h2>Full Cast</h2>

    <div class="tab-pane fade in active" id="people">
        <ul class="nav">

            <li class="active"><a href="#">

                <div class="col-md-1 column">
                    <img class="img-circle" src="http://lorempixel.com/20/20/">
                </div>
                Arman Naeimian
            </a>
            </li>
            <li><a href="#">
                <div class="col-md-1 column"><img class="img-circle" src="http://lorempixel.com/20/20/"></div>
                Sadjad Fouladi
            </a>
            </li>
        </ul>
    </div>

    <form class="form-horizontal" role="form">
        <div class="form-group">

            <h3>
                Comment 1
            </h3>

            <p>
                I love Natalie Portman. -- Masoud
            </p>

            <p>
                <a class="btn" href="#">Like</a>
            </p>

            <h3>
                Comment 2
            </h3>

            <p>
                This post is not very chert. --Sadjad
            </p>

            <p>
                <a class="btn" href="#">Like</a>
            </p>

            <label for="input" class="col-sm-2 control-label">Write a new comment</label>

            <div class="col-sm-10">
                <textarea class="form-control" id="commentBody" placeholder="Enter text here..."/></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>

</article>
{% endblock %}