{% extends "tlayout.html" %}
{% block pageBody %}
    {% for movie,rate in movies.items %}
        <div class="row clearfix">
            <div class="col-md-3 column">
                <img class="img-thumbnail" src="/media/movies/{{ movie.image_path }}" alt="{{ movie.title }}"/>
            </div>
            <div class="col-md-9 column">
                <a href="/movies/{{ movie.title }}"><h2>{{ movie.title }} ({{ movie.year }})</h2></a>

                <div class="star"> {{rate }}</div>

                <p>{{ movie.description }}</p>
                <hr class="featurette-divider">
            </div>
        </div>
    {% endfor %}
{% endblock %}

