{% extends "tlayout.html" %}
{% block pageBody %}
    {% for post,movie,writer in posts %}
        <div class="row clearfix" xmlns="http://www.w3.org/1999/html">
            <div class="row clearfix">
                <div class="col-md-2 column">
                    <img class="img-thumbnail" alt="140x140" src="/media/users/{{ writer.image_path }}"/>
                </div>
                <div class="col-md-10 column">
                    <h3>{{ post.title }}</h3>
                    <h4>{{ writer.username }}</h4>
                    <h4>{{ movie.title }}</h4>

                    <P>
                        {{ post.body }}
                    </P>

                    <p>
                        <a href="/posts/{{ post.id }}">{{ post.created_time }}</a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}