{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ PageTitle }}</title>
    <meta name="description" content="Myfilm from Masoud Sadrnezhaad and Arman Naeimian"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{% static "js/modernizr.custom.js" %}"></script>

    <!-- Bootstrap -->
    <link href="{% static "css/jquery.fancybox.css" %}" rel="stylesheet">
    <link href="{% static "css/flickity.css" %}" rel="stylesheet">
    <link href="{% static "css/animate.css" %}" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
    <link href="{% static "css/queries.css" %}" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "js/toucheffects.js" %}"></script>
    <script src="{% static "js/flickity.pkgd.min.js" %}"></script>
    <script src="{% static "js/jquery.fancybox.pack.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/retina.js" %}"></script>
    <script src="{% static "js/waypoints.min.js" %}"></script>
    <script src="{% static "js/scripts.js" %}"></script>

</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/timeline">MyFilm</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Movies</a>
						</li>
                        <li>
							<a href="#">Artists</a>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search" action="/search">
						<div class="form-group">
							<input class="form-control" type="text" />
						</div> <button type="submit" class="btn btn-default">Search</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
                        						<li>
							<img alt="Notifications" src="{% static "img/notification.png" %}" width="50px" />
						</li>

						<li>
							<img alt="profile picture" src="http://lorempixel.com/100/100/" width="50px" />
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">S. M. Masoud Sadrnezhaad<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Profile</a>
								</li>
								<li>
									<a href="#">Friends</a>
								</li>
								<li>
									<a href="#">Setting</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Logout</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>

			</nav>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column">
			<div class="row clearfix">
				<div class="col-md-12 column">
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
                {{ pageBody }}
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
			<div class="row clearfix">
				<div class="col-md-12 column">

					<div class="row clearfix">
						<div class="col-md-12 column">
                            <h2>Movies recommended for you</h2>
							<div class="row clearfix">
								<div class="col-md-6 column">
									<img alt="140x140" src="http://lorempixel.com/100/100/" />
								</div>
								<div class="col-md-6 column">
									<strong>
										Film Name
									</strong>
									<p>
										<a class="btn" href="#">View details »</a>
									</p>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-6 column">
									<img alt="140x140" src="http://lorempixel.com/100/100/" />
								</div>
								<div class="col-md-6 column">
									<strong>
										Film Name
									</strong>
									<p>
										<a class="btn" href="#">View details »</a>
									</p>
								</div>
							</div>
						</div>
                        <div class="col-md-12 column">
                            <h2>Who to follow</h2>
							<div class="row clearfix">
								<div class="col-md-6 column">
									<img alt="140x140" src="http://lorempixel.com/100/100/" />
								</div>
								<div class="col-md-6 column">
									<strong>
										Arman Naeimian
									</strong>
									<p>
										<a class="btn" href="#">Follow »</a>
									</p>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-md-6 column">
									<img alt="140x140" src="http://lorempixel.com/100/100/" />
								</div>
								<div class="col-md-6 column">
									<strong>
										Masoud Sadrnezhaad
									</strong>
									<p>
										<a class="btn" href="#">Follow »</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<img alt="140x140" src="http://lorempixel.com/100/100/" />
				</div>
				<div class="col-md-6 column">
					<strong>
						Username
					</strong>
				</div>
			</div>
            			<div class="row clearfix">
				<div class="col-md-6 column">
					<img alt="140x140" src="http://lorempixel.com/100/100/" />
				</div>
				<div class="col-md-6 column">
					<strong>
						Username
					</strong>
				</div>
			</div>
            			<div class="row clearfix">
				<div class="col-md-6 column">
					<img alt="140x140" src="http://lorempixel.com/100/100/" />
				</div>
				<div class="col-md-6 column">
					<strong>
						Username
					</strong>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

</html>