{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ PageTitle }}</title>
    <meta name="description" content="Myfilm from Masoud Sadrnezhaad and Arman Naeimian"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/fixed-navbar.css" %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>
    <link href="{% static "css/styles.css" %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static "accounts/css/style.css" %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/star-rating.min.css" %}" media="all" rel="stylesheet" type="text/css"/>
    <script src="{% static "js/star-rating.min.js" %}" type="text/javascript"></script>


</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/timeline">MyFilm</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/movies">Movies</a>
                </li>
                <li>
                    <a href="/artists/">Artists</a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" action="/search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <img alt="Notifications" class="dropdown-toggle" data-toggle="dropdown"
                         src="{% static "img/notification.png" %}" width="50px"
                         height="50px"/>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/posts/1">Arman Naeimian likes your update.</a>
                        </li>
                        <li>
                            <a href="/posts/1">Sadjad Fouladi commented on your update.</a>
                        </li>
                        <li>
                            <a href="/posts/1">Arman Nameimian commented on post you are following.</a>
                        </li>
                        <li>
                            <a href="/profile/fouladi">Sadjad Fouladi started to following you.</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="/notifications">View all notifications.</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <img alt="profile picture" src="/media/users/{{ request.user.image_path }}" width="50px"
                         height="50px"/>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown">{{ request.user.first_name }} {{ request.user.last_name }}<strong
                            class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile/{{ request.user.username }}">Profile</a>
                            <!--????-->
                        </li>
                        <li>
                            <a href="/accounts/">Friends</a>
                        </li>
                        <li>
                            <a href="/profile/{{ request.user.username }}/edit">Settings</a>
                            <!--????-->
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>
<div id="layout-hero" class="hero">
    <div class="texture-overlay"></div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-8 column">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                {% block pageBody %}{% endblock %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 column scrollspy">
                        <div class="row clearfix" data-spy="affix" data-offset="400">
                            <div class="col-md-12 column">

                                <div class="row clearfix">
                                    <h2>Recommended for you</h2>
                                    {% for movie in recom_movies %}
                                        <div class="row clearfix">
                                            <div class="col-md-2 column">
                                                <img class="img-thumbnail" alt="{{ movie.title }}"
                                                     src="/media/movies/{{ movie.image_path }}"/>
                                            </div>
                                            <div class="col-md-10 column">
                                                <strong>
                                                    {{ movie.title }} ({{ movie.year }})
                                                </strong>

                                                <p>
                                                    <a class="btn" href="/movies/{{ movie.title }}">View details
                                                        »</a>
                                                </p>
                                            </div>
                                        </div>
                                        <br/>
                                    {% endfor %}
                                </div>

                                <div class="row clearfix">
                                    <h2>Who to follow</h2>
                                    {% for who_to_follow in who_to_follows %}
                                        <div class="row clearfix">
                                            <div class="col-md-2 column">
                                                <img alt="{{ who_to_follow.username }}" class="img-thumbnail"
                                                     width="600px"
                                                     src="/media/users/{{ who_to_follow.image_path }}"/>
                                            </div>
                                            <div class="col-md-10 column">
                                                <strong>
                                                    <a href="/profile/{{ who_to_follow.username }}">{{ who_to_follow.first_name }} {{ who_to_follow.last_name }}</a>
                                                </strong>

                                                <p>

                                                <form action="/profile/{{ who_to_follow.username }}/" method="POST"
                                                      role="form">{% csrf_token %}
                                                    <button type="submit" class="btn btn-default    ">Follow</button>
                                                </form>
                                                </p>
                                            </div>
                                        </div>
                                        <br/>
                                    {% endfor %}
                                </div>
                                <div class="row clearfix">
                                    <h2>Popular on MyFilm</h2>
                                    {% for movie in popular_movies %}
                                        <div class="row clearfix">
                                            <div class="col-md-2 column">
                                                <img class="img-thumbnail" width="600px" alt="{{ movie.title }}"
                                                     src="/media/movies/{{ movie.image_path }}"/>
                                            </div>
                                            <div class="col-md-10 column">
                                                <strong>
                                                    {{ movie.title }} ({{ movie.year }})
                                                </strong>

                                                <p>
                                                    <a class="btn" href="/movies/{{ movie.title }}">View details
                                                        »</a>
                                                </p>
                                            </div>
                                        </div>
                                        <br/>
                                    {% endfor %}

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="small chat affix">
    <ul class="nav">
        {% for chat_user in chat_users %}
            <li><a href="/profile/{{ chat_user.username }}"><img width="40" height="40" class="img-circle"
                                                                 src="/media/users/{{ chat_user.image_path }}"></a>
            </li>
        {% endfor %}
    </ul>
</div>
</body>


</html>