.gray {
    background-color: #eee;
}

.btn-margin {
    margin-top: 5px;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.chat {
    float: right;
    margin-right: 4px;
    padding: 10px;
    right: 5px;
    top: 200px;
}

.absolute {
    position: relative;
}

.right-module-fixed {
    float: left;
    position: fixed;
}